# Django settings for the project. 
# This file contains sensitive information and should not be committed to version control.
# Use the .env file to set these variables in your local environment.
DEBUG=
ALLOW_ROBOTS=
SECRET_KEY=
ALLOWED_HOSTS=
DATABASE_URL=

# Pawapay API credentials 
PAWAPAY_BASE_URL=https://api.sandbox.pawapay.io
PAWAPAY_API_KEY=

# Social accounts
GOOGLE_CLIENT_ID='your-google-client-id'
GOOGLE_CLIENT_SECRET='your-google-client-secret'
FACEBOOK_APP_ID=your-facebook-app-id
FACEBOOK_APP_SECRET=your-facebook-app-secret
FIREBASE_CREDENTIALS=
# Email settings
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=